*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    border-style: border-box;
    max-width: 100%;
}

h1{
    color: rgb(252, 123, 166);
    height: 40px;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 3.85rem;
}

h2{
    margin-top: 150px;
   margin-left: 750px;
   font-size: 5rem;
}

.counter-btns{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-left: 630px;
    margin-top: 100px;
    gap: 120px;
} 

button{
    background-color: rgb(252, 123, 166);
    color: #fef8f8; 
    border: 0;
    border-radius: 50%;  
    padding: 25px 32px; 
    font-size: 30px;  
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.minus-btn{
    padding: 26px 36px;
}

button:hover{
    background-color: rgb(234, 83, 133);
}

.reset-btn{
    background-color: rgb(252, 123, 166);
    color: white;
    padding: 27px 25px; 
    border-radius: 50%;
    margin-left: 735px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.reset-btn i:hover{
    background-color: rgb(234, 83, 133);
}

p{
    font-size: 1.85rem;
    margin-left: 675px;
    margin-top: 40px;
}

@media (max-width: 1200px){
    h1{
    margin-top: 20px;
    margin-left: 470px;
    font-size: 3.85rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 630px;
    font-size: 4.85rem;
}

.counter-btns{
    margin-top: 120px;
    gap: 90px; 
    margin-left: 525px;
           
}

.reset-btn{
    margin-left: 615px;
}

p{
    font-size: 1.5rem;
    margin-left: 560px;
    margin-top: 35px;
}
}

@media (max-width: 992px){
    h1{
    margin-top: 20px;
    margin-left: 350px;
    font-size: 3.85rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 500px;
    font-size: 4.85rem;
}

.counter-btns{
    margin-top: 120px;
    gap: 90px; 
    margin-left: 400px;
           
}

.reset-btn{
    margin-left: 490px;
}

p{
    font-size: 1.5rem;
    margin-left: 430px;
    margin-top: 35px;
}
}

@media (max-width: 768px){
    h1{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 3.85rem;
    height: 20px;
}   

h2{
    margin-top: 120px;
    margin-left: 350px;
    font-size: 4.85rem;
}

.counter-btns{
    margin-top: 120px;
    gap: 90px; 
    margin-left: 250px;
           
}

.reset-btn{
    margin-left: 340px;
}

p{
    font-size: 1.5rem;
    margin-left: 290px;
    margin-top: 35px;
}
}

@media (max-width: 640px){
    h1{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 3.85rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 300px;
    font-size: 4.85rem;
}

.counter-btns{
    margin-top: 120px;
    gap: 90px; 
    margin-left: 200px;
           
}

.reset-btn{
    margin-left: 290px;
}

p{
    font-size: 1.5rem;
    margin-left: 240px;
    margin-top: 35px;
}
}

@media (max-width: 690px){
    h1{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 3.5rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 230px;
    font-size: 4.85rem;
}

.counter-btns{
    margin-top: 100px;
    margin-left: 150px;
    gap: 40px; 
           
}

.reset-btn{
    padding: 27px 25px; 
    border-radius: 50%;
    margin-left: 215px;
    font-size: 20px;;
}

p{
    font-size: 1.5rem;
    margin-left: 155px;
    margin-top: 30px;
}
}

/* Mobile phones */
@media (max-width: 480px) { 
    h1{
    margin-top: 30px;
    margin-left: 120px;
    font-size: 3rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 230px;
    font-size: 4rem;
}

.counter-btns{
    margin-top: 100px;
    margin-left: 150px;
    gap: 40px; 
           
}

button{ 
    padding: 20px 30px; 
    font-size: 30px;  
    cursor: pointer;
}

.minus-btn{
    padding: 22px 33px;
}

.reset-btn{
    padding: 27px 25px; 
    border-radius: 50%;
    margin-left: 210px;
    font-size: 20px;;
}

p{
    font-size: 1.5rem;
    margin-left: 160px;
    margin-top: 30px;
}
}
 
@media (max-width: 360px){
    h1{
    margin-top: 30px;
    margin-left: 70px;
    font-size: 2.5rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 170px;
    font-size: 4rem;
}

.counter-btns{
    margin-top: 100px;
    margin-left: 90px;
    gap: 40px; 
           
}

.reset-btn{
    padding: 27px 25px; 
    border-radius: 50%;
    margin-left: 150px;
    font-size: 20px;;
}

p{
    font-size: 1.5rem;
    margin-left: 100px;
    margin-top: 30px;
}
}

@media (max-width: 240px){
    h1{
    margin-top: 30px;
    margin-left: 70px;
    font-size: 2rem;
    height: 20px;
}

h2{
    margin-top: 120px;
    margin-left: 100px;
    font-size: 3rem;
}

.counter-btns{
    margin-top: 100px;
    margin-left: 35px;
    gap: 20px; 
           
}

.reset-btn{
    padding: 27px 25px; 
    border-radius: 50%;
    margin-left: 85px;
    font-size: 20px;;
}

p{
    font-size: 1.5rem;
    margin-left: 40px;
    margin-top: 30px;
}
}

